[logging]
	default = {{ netlogin_krb5_log }}

[realms]
	{{ netlogin_auth_realm }} = {
{% for dc in netlogin_auth_dc %}
		kdc = {{ dc }}
{% endfor %}
		admin_server = {{ netlogin_auth_dc[0] }}
		default_domain = {{ netlogin_auth_domain }}
		database_module = {{ netlogin_krb5_database }}
    }

[domain_realm]
	.{{ netlogin_auth_domain }} = {{ netlogin_auth_realm }}
