{% if netlogin_sudo_lecture_header is defined %}
{{ lookup('file', netlogin_sudo_lecture_header) }}
{% endif %}
{% if netlogin_sudo_lecture_contents is defined %}
{{ netlogin_sudo_lecture_contents }}
{% endif %}
