{% if netlogin_sudo_lecture %}
Defaults	lecture = always
Defaults	lecture_file = {{ site_root}}/etc/sudo/lecture
{% endif %}

{% for group in netlogin_sudo_groups %}
%{{ group.name | regex_replace(' ', '\ ') }}	{{ group.line | default("ALL=(ALL) ALL") }}
{% endfor %}
