# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.
{{ ansible_managed | comment }}

uid nslcd
gid nslcd

nss_initgroups_ignoreusers ALLLOCAL

uri {{ netlogin_ldap_hosts | join(' ') }}
base {{ netlogin_ldap_base }}

map passwd gecos displayName

timelimit 10
idle_timelimit 0
bind_timelimit 10
