# /etc/nsswitch.conf
{{ ansible_managed | comment }}


{% if netlogin_method is 'nslcd' %}
passwd: files ldap
shadow: files ldap
group: files ldap
netgroup: files ldap
{% elif netlogin_method is 'sssd' %}
passwd: files sss
shadow: files sss
group: files sss
netgroup: files sss
automount: files sss
{% endif %}

hosts: {{ netlogin_nsswitch_hosts | default('files mdns mdns4_minimal mdns4 dns myhostname') }}
ethers: {{ netlogin_nsswitch_ethers | default('files') }}
netmasks: {{ netlogin_nsswitch_netmasks | default('files') }}
networks: {{ netlogin_nsswitch_networks | default('files') }}
protocols: {{ netlogin_nsswitch_protocols | default('files') }}
rpc: {{ netlogin_nsswitch_protocols | default('files') }}
services: {{ netlogin_nsswitch_services | default('files') }}
aliases: {{ netlogin_nsswitch_aliases | default('files') }}
sudoers: {{ netlogin_nsswitch_sudoers | default('files') }}
