<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE pam_mount SYSTEM "pam_mount.conf.xml.dtd">
<pam_mount>
  <debug enable="0" />
  <msg-authpw>CV Password:</msg-authpw>
  {% for base in netlogin_mounts|default([]) %}
  {% for mountpoint in base.mounts %}
  <volume fstype="{{ mountpoint.fstype | default("nfs4") }}" server="{{ mountpoint.server }}" path="{{ mountpoint.pam_mount_remote | default(mountpoint.remote_path) }}" mountpoint="{{ mountpoint.pam_mount_path | default(base.path + mountpoint.path) }}" options="{{ mountpoint.options }}" pgrp="{{ mountpoint.group }}" />
  {% endfor %}
  {% endfor %}
  <logout wait="{{ netlogin_pam_mount_logout_wait | default(0) }}" hup="{{ netlogin_pam_mount_logout_hup | default(0) }}" term="{{ netlogin_pam_mount_logout_term | default(1) }}" kill="{{ netlogin_pam_mount_logout_kill | default(1) }}" />
  <mkmountpoint enable="1" remove="true" />
</pam_mount>
