[sssd]
config_file_version = 2
services = nss

[nss]
filter_groups = root
filter_users = root
reconnection_retries = 3
entry_cache_timeout = 300
entry_cache_nowait_percentage = 75

[domain/{{ netlogin_auth_domain }}]
{% if netlogin_auth_provider == 'krb5' %}
id_provider = ldap
auth_provider = krb5
chpass_provider = krb5

enumerate = false

ldap_uri = {{ netlogin_ldap_hosts | join(',') }}
ldap_search_base = {{ netlogin_ldap_base }}
ldap_tls_cacert = {{ netlogin_ldap_cert }}
ldap_sasl_mech = {{ netlogin_ldap_sasl }}

krb5_server = {{ netlogin_krb5_realms[0].kdc }}
krb5_realm = {{ netlogin_krb5_realms[0].name }}
krb5_auth_timeout = 15
{% elif netlogin_auth_provider == 'ipa' %}
id_provider = ipa
ipa_server = {{ netlogin_auth_dc | join(',') }}
{% endif %}
